body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
}

.navigation {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.navigation__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation__list-item {
    border-bottom: 3px solid rgb(60, 204, 223);
    margin: 0 10px;
}

.navigation__list-item:hover {
    border-bottom: 3px solid rgb(45, 45, 212);
    transition: hover 0.2s;
}

.navigation__list-item a {
    text-decoration: none;
    color: black;
}

.main {
    display: flex;
    justify-content: center;
}

.form-container {
    width: 90%;
    border: 3px solid rgb(60, 204, 223);
    border-radius: 5px;
    padding: 10px;
}

.form-title {
    padding: 5px 0 20px;
    display: flex;
    justify-content: center;
}

.form-title h2 {
    margin: 0;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.form-element:not(:last-child) {
    padding-bottom: 15px;
}

.form-element__input {
    width: 100%;
}

.form-element__input > input {
    box-sizing: border-box;
    width: 100%;
}

.radio-group {
    padding-bottom: 15px;
    display: flex;
}

.radio-group__container {
    display: flex;
}

.radio-group__button {
    padding-right: 10px;
}

.select_container {
    display: flex;
    padding-bottom: 15px;
}

.select_container__label {
    padding-right: 10px;
}

.text-input {
    padding: 5px;
}

.submit-button {
    min-width: 100px;
    height: 30px;
    font-size: 1.1rem;
    background-color: rgb(107, 226, 235);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: border-box;
    transition: hover 0.2s;
}

.submit-button:hover {
    background-color: rgb(45, 45, 212);
    color: white;
}

@media screen and (min-width: 768px) {
    .header {
        font-size: 1rem;
    }

    .form-container {
        width: 702.8px;
    }
}